<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Admin2">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxToggleButton" name="ID_TOGGLEBUTTON1" variable="ToggleButton1" member="yes">
			<label>LOG OUT</label>
			<pos>304,24</pos>
			<handler function="OnToggleButton1Toggle" entry="EVT_TOGGLEBUTTON" />
		</object>
		<object class="wxToggleButton" name="ID_TOGGLEBUTTON2" variable="ToggleButton2" member="yes">
			<label>ADD ADMIN</label>
			<pos>72,112</pos>
			<size>248,23</size>
			<handler function="OnToggleButton2Toggle" entry="EVT_TOGGLEBUTTON" />
		</object>
		<object class="wxToggleButton" name="ID_TOGGLEBUTTON3" variable="ToggleButton3" member="yes">
			<label>ADD BUS DETAILS</label>
			<pos>72,208</pos>
			<size>248,23</size>
			<handler function="OnToggleButton3Toggle" entry="EVT_TOGGLEBUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>HELLO ADMIN!!</label>
			<pos>32,24</pos>
			<size>160,40</size>
			<font>
				<size>14</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face></face>
			</font>
			<style>wxST_NO_AUTORESIZE|wxALIGN_LEFT</style>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Label</label>
			<pos>216,24</pos>
			<size>47,48</size>
			<font>
				<size>14</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face></face>
			</font>
			<style>wxST_NO_AUTORESIZE|wxALIGN_LEFT</style>
		</object>
	</object>
</wxsmith>
